.dzzzrpp-show-hide-checkbox{
    float:right;
    margin-top: 10px;
}

.dzzzrpp-show-hide-checkbox + .dzzzrpp-show-hide-title + div{
    display:none;
}
.dzzzrpp-show-hide-checkbox:checked + .dzzzrpp-show-hide-title + div{
    display:block;
}
.dzzzrpp-show-hide-checkbox + .dzzzrpp-show-hide-title + table{
    display:none;
}
.dzzzrpp-show-hide-checkbox:checked + .dzzzrpp-show-hide-title + table{
    display:block;
}